body {
  margin:0;
  font-family:'Poppins', sans-serif;
  background:#050505;
  color:white;
}

/* NAV */
nav {
  display:flex;
  justify-content:space-between;
  padding:15px 40px;
  background:#000;
}

nav a {
  color:cyan;
  margin:0 10px;
  text-decoration:none;
}

/* HERO */
.hero {
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  background: radial-gradient(circle, #001f2f, #000);
}

.profile {
  border-radius:50%;
  border:3px solid cyan;
  margin-bottom:20px;
  box-shadow:0 0 20px cyan;
}

/* BUTTONS */
.btn {
  background:cyan;
  padding:10px 20px;
  margin:10px;
  color:black;
}

.btn-outline {
  border:1px solid cyan;
  padding:10px 20px;
  color:cyan;
}

/* SECTIONS */
section {
  padding:60px;
}

/* SKILLS */
.skill-bar {
  margin:20px 0;
}

.bar {
  background:#111;
  height:10px;
}

.bar div {
  height:100%;
  background:cyan;
  box-shadow:0 0 10px cyan;
}

/* PROJECTS */
.project-card {
  background:#111;
  padding:20px;
  margin:20px 0;
  border-left:3px solid cyan;
}

/* CONTACT */
input,textarea {
  width:100%;
  padding:10px;
  margin:10px 0;
  background:#111;
  border:1px solid cyan;
  color:white;
}

button {
  background:cyan;
  padding:10px;
  border:none;
}

/* REVEAL */
.reveal {
  opacity:0;
  transform:translateY(50px);
  transition:1s;
}

.reveal.active {
  opacity:1;
  transform:translateY(0);
}